// Variables personalizadas
	// Colores
		// $colorPrincipal: #E53935;
		$colorPrincipal: #E53935;
		$colorSecundario: #2196F3;

		$fondoPagina: #f5f5f5;

		$colorTexto: #424242;

		$colorEnlace: lighten($colorPrincipal,10);
		$colorEnlaceHover: lighten($colorSecundario,10);

		$colorEncabezado: $colorPrincipal;

// Importamos componentes
	//Fuentes
		@import url('https://fonts.googleapis.com/css?family=Audiowide|Roboto&display=swap');

		$Texto: 'Roboto', sans-serif;
		$Titulo: 'Audiowide', cursive;

	// Bases y variables iniciales
		@import "librerias/normalize";  // Normalize | Libreria para normalizar estilos en todos los navegadores
		@import "base/base"; // Estilos base | Se aplican antes del Framework
		@import "base/mixins"; // Mixins personalizados
		@import "base/grid"; // Importamos el Grid

	// Frameworks y otras librerias
		@import "librerias/acordeon";
		@import "librerias/nst";
		@import "librerias/glide";
		@import "librerias/glightbox";
		@import "librerias/tabs";
		@import "librerias/offside";

	// Tema | Estilos personalizados para este proyecto
		@import "tema/main";
		@import "tema/header";
		@import "tema/footer";
		@import "tema/imagenes";
		@import "tema/menus";
		@import "tema/formularios";
		@import "tema/botones";
		@import "tema/slider";

	// Estilos finales
		@import "tema/final";

	// Modulos perzonalizados
		@import "modulos/modulos"; // Estilos para nuestros modulos
