$colorFondo: rgba(255,255,255,0.8);
$colorTexto: $colorPrincipal;
$hoverUno: lighten($colorPrincipal, 10);
$hoverDos: darken($colorPrincipal, 5);
$hoverTres: darken($hoverDos, 10);

.active {
	// background: $hoverUno;
	border: solid 2px $colorPrincipal !important;
}

#Logo a img {
	margin-left: 11px;
	margin-top: 11px;
	max-height: 27px;
}


.menu {
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 10px;
  margin-top: 15px;
	.menu-item {
		background: $colorPrincipal;
		border-radius: 3px;
		display: block;
		height: 3px;
		margin: 0 0 5px;
		transition: all .2s;
		width: 30px;
	}
	&:hover {
		cursor: pointer;
	}
	&.open {
		.menu-item {
			background: $colorSecundario;
			&:first-child {
				transform: rotate(45deg);
				transform-origin: 4px 50%;
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				transform-origin: 4px 50%;
			}
		}
	}
}


nav {
	background: #eaeaea;
	height: 50px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100vw;
	z-index: 10000;
}
#toggle-menu {
	background: transparent;
	cursor: pointer;
	height: 30px;
	margin: 0;
	padding: 0;
	transition: all .9s;
	&.activo {
		background: $colorFondo;
	}
	h1 {
		color: $colorTexto;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 2;
		padding-left: 50px;
	}
}
.item-oculto {
	display: none;
}
.item-visible {
	display: block;
}
#multi-menu, #multi-menu2 {
	background: $colorPrincipal;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	width: 100%;
	ul {
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		li {
			list-style: none;
			margin: 0;
			padding: 8px 0;
			position: relative;
			transition: all .5s;
			&.submenu ul li {
				padding: 8px;
			}
			&.submenu:before {
				border-left: 8px solid #fff;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				transform: rotate(90deg);
				content: "";
				height: 0;
				position: absolute;
				right: 20px;
				top: 20px;
				width: 0;
				z-index: 99999999999999;
			}
			&:hover {
				background: lighten($color: $colorPrincipal, $amount: 10);
				ul {
					display: block;
				}
				ul li {
					display: block;
				}
			}
			a {
				border: solid 2px transparent;
				color: #fff;
				display: block;
				font-size: 1rem !important;
				font-weight: 400;
				line-height: 2;
				margin: 0;
				padding-left: 1em;
				text-align: left;
			}
			ul {
				background: $hoverUno;
				display: none;
				li {
					padding: 0 !important;
					padding-bottom: 4px !important;
					&:hover {
						background: $hoverDos;
						ul {
							display: none;
						}
					}
					a {
						display: block;
						font-size: .9rem !important;
						font-weight: 400;
						line-height: 1.8;
						text-align: left;
						padding-left: 2em;
					}
					ul {
						background: $hoverDos;
						display: none;
						li {
							&:hover {
								background: $hoverTres;
							}
							a {
								padding-left: 3em;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px){
	#toggle-menu {
		display: none;
	}
	.item-oculto {
		display: block;
	}
	.item-visible {
		display: none;
	}
	nav {
		background: $colorFondo;
	}
	#multi-menu, #multi-menu2 {
		background: transparent;
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
		ul {
			display: flex;
			margin: 0;
			padding: 0;
			width: 100%;
			li {
				flex: auto;
				height: 50px;
				list-style: none;
				margin: 0;
				margin-top: 4px;
				padding: 0px;
				position: relative;
				transition: all .5s;
				&.submenu {
					padding-right: 0px !important;
					a {
						padding-right: 20px;
					}
				}
				&.submenu ul li {
					padding: 12px;
				}
				&.submenu:before {
					border-left: 8px solid $colorPrincipal;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					right: 6px;
					top: 15px;
				}
				&:hover {
					background: transparent;
					a {
						border: solid 2px $colorPrincipal;
					}
					ul {
						display: block;
					}
					ul ul {
						display: none;
					}
				}
				a {
					color: $colorPrincipal;
					display: block;
					font-size: .8rem !important;
					font-weight: 400;
					line-height: 3;
					margin: 0;
					padding: 0 4px;
					text-align: center;
					&.active {
						padding-right: 16px;
					}
				}
				ul {
					background: rgba(255,255,255,0.95);
					display: none;
					left: 0;
					position: absolute;
					top: 42px;
					min-width: 230px;
					width: 100%;
					padding: 0;
					margin: 0;
					li {
						position: relative;
						height: auto;
						padding: 4px 8px !important;
						margin: 0 !important;
						&:hover {
							a {
								color: #fff;
							}
							ul {
								display: block;
							}
						}
						a {
							border: solid 2px transparent !important;
							color: $colorPrincipal;
							display: block;
							font-size: 15px !important;
							font-weight: 400;
							text-align: left;
							padding-left: .5em;
						}
						ul {
							display: none;
							left: 0;
							position: absolute;
							top: 100%;
							z-index: 10;
							li {
								a {
									padding-left: .5em;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1373px){
	#toggle-menu {
		display: none;
	}
	.item-oculto {
		display: block;
	}
	.item-visible {
		display: none;
	}
	nav {
		background: $colorFondo;
	}
	#multi-menu, #multi-menu2 {
		background: transparent;
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
		ul {
			display: flex;
			margin: 0;
			padding: 0;
			width: 100%;
			li {
				flex: auto;
				height: 50px;
				list-style: none;
				margin: 0;
				padding: .3em 0px;
				position: relative;
				transition: all .5s;
				&.submenu {
					padding-right: 0px !important;
				}
				&.submenu ul li {
					padding: 12px;
				}
				&.submenu:before {
					right: 6px;
					top: 18px;
				}
				&:hover {
					background: transparent;
					a {
						border: solid 2px $colorPrincipal;
					}
					ul {
						display: block;
					}
					ul ul {
						display: none;
					}
				}
				a {
					color: $colorPrincipal;
					display: block;
					font-size: 1.05rem !important;
					font-weight: 400;
					line-height: 2;
					margin: 0;
					padding: 0 8px;
					text-align: center;
				}
				ul {
					display: none;
					left: 8px !important;
					position: absolute;
					top: 42px;
					min-width: 240px;
					width: 100%;
					li {
						position: relative;
						padding: 8px 5px !important;
						&:hover {
							ul {
								display: block;
							}
						}
						a {
							border: solid 2px transparent !important;
							display: block;
							font-size: 15px !important;
							font-weight: 400;
							line-height: 1.5;
							text-align: left;
							padding-left: .5em;
						}
						ul {
							display: none;
							left: 0;
							position: absolute;
							top: 100%;
							z-index: 10;
							li {
								a {
									padding-left: .5em;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1140px){
	#multi-menu, #multi-menu2 {
		ul {
			li {
				padding: .3em 8px;
				a {
					font-size: 1.1rem;
				}
			}
		}
	}
}






//-- Menu Lateral
#menu-1.offside {
	z-index: 999999;
	#logo {
		position: absolute;
		left: 24px;
		top: 20px;
		width: 60%;
	}
}
.menuLateral {
	list-style: none;
	margin-bottom: 0;
	margin-top: 0px;
	padding: 0;
	li {
		padding: 10px 0;
		a {
			color: #666;
			font-weight: 500;
		}
		ul {
			list-style: none;
			padding-left: 16px;
			padding-top: 8px;
		}
	}
}