header

	nav#stickyElement
		.container.justify
			#Logo
				a(href="/")
					img(src="/src/img/logoH.webp", alt="arteDigitalMX")
			#menuResponsive.cross-center
				#multi-menu
					#menuWeb.from-web
						ul.mMenu
							li: a(href="/") Home
							li: a(href="/jade") Jade
							li: a(href="/error") Error
							li.submenu
								a Servicios
								ul
									li: a(href="#") servicio 1
									li: a(href="#") servicio 2
									li: a(href="#") servicio 3
									li: a(href="#") servicio 4
							li: a(href="#") Nosotros
							li: a(href="#") Financiamiento
							li: a(href="#") Contacto
					
				#menuMovil.to-web
					button.menu-btn-1
						i.fas.fa-bars.espacio
						| MENU