//- Head
head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0")
    link(rel="shortcut icon" type="image/png" href="/favicon.png")
    link(rel="author" type="text/plain" href="/humans.txt")
    link(rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml")
    meta(rel="image_src" content="/src/img/logo.png" )
    meta(name="googlebot-news" content="noindex,nofollow")
    meta(name="googlebot" content="noindex,nofollow")
    meta(name="robots" content="noindex,nofollow")
    meta(name="robots" content="noimageindex")

    title ADMX Framework | Potenciado con Nodejs + Gulp
    meta(name="description" content="Framework de arteDigitalMX potenciado con Gulp en Nodejs")
    link(rel="canonical" href="/")

    meta(property="og:locale" content="es_MX" )
    meta(property="og:type" content="website" )
    meta(property="og:title" content="ADMX Framework | Potenciado con Nodejs + Gulp" )
    meta(property="og:description" content="Framework de arteDigitalMX potenciado con Gulp en Nodejs" )
    meta(property="og:url" content="https://arte-digital.mx" )
    meta(property="og:site_name" content="arteDigitalMX" )
    meta(property="og:image" content="/src/img/logo.png" )
    meta(property="og:image:secure_url" content="/src/img/logo.png" )
    meta(property="og:image:width" content="1200" )
    meta(property="og:image:height" content="675" )
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:description" content="Framework de arteDigitalMX potenciado con Gulp en Nodejs")
    meta(name="twitter:title" content="ADMX Framework | Potenciado con Nodejs + Gulp")
    meta(name="twitter:site" content="@arteDigitalMX")
    meta(name="twitter:image" content="/src/img/logo.png")
    meta(name="twitter:creator" content="@arteDigitalMX")

    //- Json+Ld
    

    meta(name="theme-color" content="#E53935")
    meta(name="MobileOptimized" content="width")
    meta(name="HandheldFriendly" content="true")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    link(rel="shortcut icon" type="image/png" href="/src/img/logo.png")
    link(rel="apple-touch-icon" href="/favicon.png")
    link(rel="apple-touch-startup-image" href="/src/img/logo.png")
    link(rel="manifest" href="/manifest.json")

    link(rel="stylesheet", href="/src/css/estilos.css")

//- End-Head