
//- Off-canvas Elements
aside#menu-1.offside
	a.icon.icon--cross.menu-btn-1--close.h--right(href='#')
		span.icon-bar
		span.icon-bar
	.container
		.item.abcenter
			a(href="/")#logo
				img(src="/src/img/logoH.webp" alt="arteDigitalMX")
		.item
			ul.menuLateral
				li: a(href="/") Home
				li: a(href="/jade") Jade
				li: a(href="/error") Error
				li.submenu
					a Servicios
					ul
						li: a(href="#") servicio 1
						li: a(href="#") servicio 2
						li: a(href="#") servicio 3
						li: a(href="#") servicio 4
				li: a(href="#") Nosotros
				li: a(href="#") Financiamiento
				li: a(href="#") Contacto


//- Site Overlay
.site-overlay