doctype html
html(lang="es-MX")

	//- Head
	include _components/head

	//- Body
	body

		//- Header
		include _components/header

		//- Nav
		include _components/nav

		//- Contenido
			include _components/ejemplo
		.container
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			.item.text-center
				h2 Jade
				p Plantilla de página y ruta desde servidor personalizado

		//- Footer
		footer



		//- Script de SW
		script(src="/src/js/script.js")
		
		//- Librerias JS
		//---Scrollspy (Incluido en inicializa en scripts.js)
		script(src="/src/js/scrollspy.js")
		//---Smooth Scroll (Incluido en inicializa en scripts.js)
		script(src="/src/js/smooth-scroll.js")
		//---Slider (CSS incluido en tema/_slider)
			script(src="/src/js/slider.js")
		//---G-Lightbox (CSS incluido en librerias)
			script(src="/src/js/glightbox.min.js")
			script(src="/src/js/glightbox.custom.js")
		//---Gide (CSS incluido en librerias)
			script(src="/src/js/glide.min.js")
			script(src="/src/js/glide.custom.js")
		//---Offside (CSS incluido en librerias)
		script(src="/src/js/offside.min.js")
		//---FontAwesome
		script(src="https://kit.fontawesome.com/0838120559.js" crossorigin="anonymous")
		//- Tabs
			script(src="/src/js/tabs.js")
			<script>var tabs = new Tabby('[data-tabs]');</script>
		
		//- Scripts personales
		script(src="/src/js/scripts_min.js")