/*! tabbyjs v12.0.3 | (c) 2019 Chris Ferdinandi | MIT License | http://github.com/cferdinandi/tabby */
[role=tablist]{border-bottom:1px solid #d3d3d3;list-style:none;margin:0;padding:0}[role=tablist] *{box-sizing:border-box}@media (min-width:30em){[role=tablist] li{display:inline-block}}[role=tab]{border:1px solid transparent;border-top-color:#d3d3d3;display:block;padding:.5em 1em;text-decoration:none}@media (min-width:30em){[role=tab]{border-top-color:transparent;border-top-left-radius:.5em;border-top-right-radius:.5em;display:inline-block;margin-bottom:-1px}}[role=tab][aria-selected=true]{background-color:#d3d3d3}@media (min-width:30em){[role=tab][aria-selected=true]{background-color:transparent;border:1px solid #d3d3d3;border-bottom-color:#fff}}[role=tab]:hover:not([aria-selected=true]){background-color:#f7f7f7}@media (min-width:30em){[role=tab]:hover:not([aria-selected=true]){border:1px solid #d3d3d3}}[hidden]{display:none}

/*! tabbyjs v12.0.3 | (c) 2019 Chris Ferdinandi | MIT License | http://github.com/cferdinandi/tabby */
[role=tablist]{border-bottom:1px solid #d3d3d3;list-style:none;margin:0;padding:0}[role=tablist] *{box-sizing:border-box}[role=tab]{border:1px solid transparent;border-top-color:#d3d3d3;display:block;padding:.5em 1em;text-decoration:none}[role=tab][aria-selected=true]{background-color:#d3d3d3}[role=tab]:hover:not([aria-selected=true]){background-color:#f7f7f7}[hidden]{display:none}

.tabsTitle {
  border-bottom: none;
  li {
    margin-right: 8px;
    a {
      background: $colorSecundario;
      border-top: none;
      border-radius: 8px;
      color: #fff;
      margin-bottom: 4px;
      padding: 12px 12px;
      text-transform: uppercase;
    }
  }
  [role=tab][aria-selected=true]{
    background-color: $colorPrincipal;
    border-bottom: none;
    color: #fff;
  }
}
.tabContent {
  background: #fff;
  margin-top: 0px;
  padding: 16px;
}



@media screen and (min-width: 768px){
  .tabsTitle {
    border-bottom: none;
    li {
      margin-right: 2px;
      a {
        background: #fff;
        border-top: none;
        border-radius: 4px 4px 0 0;
        color: $colorPrincipal;
        font-size: 14px;
        margin-bottom: 1px;
        padding: 8px 5px;
        text-transform: uppercase;
      }
    }
    [role=tab][aria-selected=true]{
      background-color: $colorPrincipal;
      border-bottom: none;
      color: #fff;
    }
  }
  .tabContent {
    background: #fff;
    margin-top: 0px;
    padding: 16px;
  }
}

@media screen and (min-width: 1024px){
  .tabsTitle {
    border-bottom: none;
    li {
      margin-right: 8px;
      a {
        background: #fff;
        border-top: none;
        border-radius: 4px 4px 0 0;
        color: $colorPrincipal;
        font-size: 16px;
        margin-bottom: 1px;
        padding: 12px 12px;
        text-transform: uppercase;
      }
    }
    [role=tab][aria-selected=true]{
      background-color: $colorPrincipal;
      border-bottom: none;
      color: #fff;
    }
  }
  .tabContent {
    background: #fff;
    margin-top: 0px;
    padding: 16px;
  }
}